# Настройки s3 клиента
[client_settings]
service_name = 's3'
endpoint_url = 'https://storage.yandexcloud.net'
aws_access_key_id = ""
aws_secret_access_key = ""


[[entries]]

# Абсолютный путь до целевой директории
directory = ""
# Режим архивирования директории.
# Если true, будет загружен архив директории,
# в ином случае, будут загружены все файлы директории
archive_mode = ""
# Удалять из системы после отправки в облако
delete_after = false
# Дописывать даты к загружаемым файлам
append_date = false
# Работа с датами
# За все прошедшие месяцы будет удалять все файлы из облака,
# оставляя только один, самый последний файл в месяце
date_handling = true
# Имя бакета
bucket_name = ""
